.btn {

  &.btn-primary {
    background: none;
    color: #444;
    border-color: #444;
    transition: background .2s ease-in-out;

    &:hover {
      background: rgba(255,255,255, .5);
      color: #444;
      border-color: #888;
    }
  }

  &.btn-secondary {
    background: #f3f3f3;
  }

  &.btn-xlarge {
    font-size: 22px;
    padding: 10px 20px;
  }

  &.btn-small {
    font-size: 14px;
    padding: 2px 7px;
  }
}
