body {
  h1, h2, h3, h4, h5 {
    color: #444;
  }

  h1 {

  }

  h2 {

  }

  h3 {

  }

  h4 {

  }

  h5 {

  }

  a {
    color: #333;
    &:hover {
      color: #333;
    }
  }

  p {
    color: #444;
  }

}
