header {

  .nav-bar {
    background: #f3f3f3;
    ul.nav {
      li {
        &.active a{
          background: none;
          text-decoration: underline;
        }
      }
    }

  }

  .main-header {
    border-bottom: 1px solid #999;
    height: 50px;

    @media only screen and (max-width: 768px) {
      height: 100px;
      padding-top: 10px;
    }

    & > div {
      height: 100%;

      @media only screen and (max-width: 768px) {
        height: auto;
      }

    }

    h1 {
      margin-top: 0;

      @media only screen and (max-width: 768px) {
        font-size: 32px;
      }
    }

    .logo {
      letter-spacing: 4px;
      @media only screen and (max-width: 768px) {
        text-align: center;
      }
    }
  }

  ul.nav {
    text-align: right;
    height: 100%;

    @media only screen and (max-width: 768px) {
      text-align: center;
    }

    li {
      display: inline-block;
      height: 100%;

      &.active a {
        background: none;
        text-decoration: underline;
      }

      a {
        color: #666;
        letter-spacing: 2px;
        height: 100%;

        &.active, &:hover {
          background: none;
          text-decoration: underline;
        }
      }
    }

    &.mini-nav {
      display: inline-block;
      li {
        a {
          font-size: 13px;
          padding: 5px 10px;
        }
      }
    }

    &.main-nav {

    }
  }

}
